Repository AIT-RDP/rdp-mqtt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-python, build:format-lint, build:codequality

.gitlab-ci.yml:

stages:
  - test # Run tests

test-python:
  stage: test
  needs: []  # no dependencies to precious pipelines stages
  tags:
    - ito
  image: python:3.12
  script:
    - pip install --no-cache-dir -r requirements-dev.txt
    - poetry install --with dev --all-extras
    - poetry run pytest --cov --cov-report term --cov-report xml:coverage.xml --junitxml=report.xml --log-cli-level=INFO
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:  # Collect test results
    when: always
    paths:
      - report.xml
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  rules:
    - changes:
        - rdp_mqtt/**/*
        - tests/**/*
        - poetry.lock
        - pyproject.toml
        - requirements-dev.txt
        - docker/**/*
    - when: manual

build:format-lint:
  stage: build
  tags:
    - ito
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/python:3.13
  script:
    - pip install --no-cache-dir pre-commit
    - pre-commit run poetry-check
    - pre-commit run poetry-lock
    - pre-commit run black --all-files --show-diff-on-failure
    - pre-commit run ruff --all-files --show-diff-on-failure
    # mypy in extra codequality step
  rules:
    - changes:
        - rdp_mqtt/**/*
        - poetry.lock
        - pyproject.toml
        - requirements-dev.txt
        - docker/**/*
    - when: manual

build:codequality:
  stage: build
  tags:
    - ito
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/python:3.13
  script:
    - pip install -r requirements-dev.txt
    - poetry install --with dev
    - poetry run mypy . --no-error-summary > mypy-out.txt || true  # "|| true" is used for preventing job fail when mypy find errors
    - poetry run mypy-gitlab-code-quality < mypy-out.txt > codequality.json
  artifacts:
    when: always
    reports:
      codequality: codequality.json
  rules:
    - changes:
        - rdp_mqtt/**/*
        - poetry.lock
        - pyproject.toml
        - requirements-dev.txt
        - docker/**/*
    - when: manual

Fix: CI job not starting
  .gitlab-ci.yml
Due: none

Fix: Always run CI, omit generated files from coverage
  .gitlab-ci.yml
  pyproject.toml
Due: test-python, build:format-lint, build:codequality

Feat: Add Github pages config
  _config.yml
Due: none

feat: wait for connection in setup
  rdp_mqtt/mqtt_client.py
  tests/test_mqtt_client_integration.py
Due: test-python, build:format-lint, build:codequality

ci: run integration tests against local mosquitto
  .gitlab-ci.yml
  tests/test_mqtt_client_integration.py
Due: test-python

perf: faster sparkplug metric decoding
  rdp_mqtt/sparkplug/sparkplug_decode.py
  tests/test_sparkplug_decode_fast.py
Due: test-python, build:format-lint, build:codequality

feat: topic list subscriptions and per-message topic forwarding
  rdp_mqtt/mqtt_client.py
  rdp_mqtt/mqtt_parameters.py
  tests/test_mqtt_client.py
Due: test-python, build:format-lint, build:codequality

feat: QoS 1 by default, opt-in SQLite spool for outages
  README.md
  rdp_mqtt/mqtt_client.py
  rdp_mqtt/mqtt_parameters.py
  tests/test_mqtt_client.py
  tests/test_mqtt_client_integration.py
  tests/test_readme_examples.py
Due: test-python, build:format-lint, build:codequality
